
/** ====================

template: Cory
description: portfolio template
last change: 20/03/2017


[table of contents]

- header
- gallery
- works
- about
- blog
- contact
- footer
- misc

==================== **/



/** header
==================== **/

	.header {
		width: 100%;
		padding-top: 50px;
		line-height: 50px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}

	/** main logo */

	.main-logo {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 3px;
	}

	/** menu */

	.main-nav { list-style: none; }

	.main-nav li {
		display: inline-block;
		position: relative;
		margin-right: 50px;
	}

	.main-nav li:last-child { margin-right: 0; }

	.main-nav li a {
		font-family: 'Inconsolata';
		font-size: 16px;
		position: relative;
	}

	.main-nav li a::before {
		content: '';
		width: 0;
		height: 2px;
		position: absolute;
		bottom: -4px;
		left: 0;
		background: #24ddaa;

		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.main-nav li a.active::before,
	.main-nav li a:hover::before { width: 100%; }

	.main-nav li .sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		text-align: right;
		white-space: nowrap;
	}

	.main-nav li .sub-menu.visible { display: block; }

	.main-nav li .sub-menu li {
		display: block;
		margin: 0;
		line-height: normal;
	}

	.main-nav li .sub-menu li a {
		font-size: 12px;
		color: #999999;
	}

	.main-nav li .sub-menu li a.active,
	.main-nav li .sub-menu li a:hover { color: #ffffff; }

	.main-nav li .sub-menu li a::before { display: none; }


/** main content
==================== **/

	.main-content { padding-top: 300px; }


/** gallery
==================== **/

	.entry-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.entry .reveal {
		width: 100%;
		height: 100%;
	}


/** works
==================== **/

	.works .headline { margin-bottom: 100px; }

	.work-entry .desc {
		text-align: center;
		padding-top: 15px;
	}

	.work-entry .desc .title { font-size: 20px; }
	.works.works-3-columns .work-entry .desc .title { font-size: 16px; }

	.work-entry .desc .cat {
		font-family: 'Inconsolata';
		font-size: 14px;
		opacity: 0.7;
	}

	/** project */

	.project .headline { margin-bottom: 150px; }

	.project-cat {
		font-family: 'Inconsolata';
		font-size: 14px;
		color: #999999;
	}

	/** related */

	.related { margin-top: 200px; }


/** about
==================== **/

	.about-content { margin-top: 100px; }


/** blog
==================== **/

	.blog .blog-entry .desc { padding-top: 15px; }

	.blog .blog-entry .desc .title {
		font-size: 16px;
		font-weight: 600;
	}

	.blog .blog-entry .desc .title a {
		border-bottom: 2px solid transparent;

		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.blog .blog-entry:hover .desc .title a { border-bottom: 2px solid #24ddaa; }

	/** single post */

	.single-post-header,
	.single-post-media { margin-bottom: 100px; }

	.single-post-header .title {
		font-weight: 700;
		line-height: 52px;
		margin-bottom: 15px;
	}

	.single-post-content * { margin-bottom: 25px; }
	.single-post-content *:last-child { margin-bottom: 0; }

	.single-post-content .post-tags {
		list-style: none;
		margin-top: 100px;
		padding-left: 50px;
		position: relative;
	}

	.single-post-content .post-tags::before {
		content: '';
		width: 25px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #ffffff;
	}

	.single-post-content .post-tags li {
		display: inline-block;
		margin: 0 15px 0 0;
	}

	/** metas */

	.metas span {
		display: inline-block;
		margin-right: 15px;
		font-family: 'Inconsolata';
		font-size: 14px;
		color: #999999;
		position: relative;
	}

	.metas span:last-child { margin-right: 0; }


/** contact
==================== **/

	.contact-form {
		max-width: 500px;
		margin: 200px auto 0;
	}

	.contact-form .form-group { margin-bottom: 25px; }
	.contact-form .form-group:last-child { margin-bottom: 0; }


/** footer
==================== **/

	.footer { padding: 250px 0 150px; }

	.copy { max-width: 300px; }

	.copy a {
		font-weight: 700;
		position: relative;
		border-bottom: 2px solid transparent;

		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.copy a:hover { border-bottom: 2px solid #24ddaa; }


/** misc
==================== **/

	/** loader */

	.loader-mask {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		background: rgba(0, 0, 0, 0.7);

		-webkit-transition: all 0.5s cubic-bezier(0.5, 0.3, 0.2, 1);
				transition: all 0.5s cubic-bezier(0.5, 0.3, 0.2, 1);
	}

	.loader-mask.hide {
		opacity: 0;
		visibility: hidden;
	}

	.loader-mask .loader {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -15px 0 0 -15px;
		border-radius: 50%;
		background: #ffffff;

		-webkit-animation: scale 1s infinite;
				animation: scale 1s infinite;
	}

	@-webkit-keyframes scale {
		0% { -webkit-transform: scale(1); }
		50% { -webkit-transform: scale(0.5); }
		100% { -webkit-transform: scale(1); }
	}

	@keyframes scale {
		0% { transform: scale(1); }
		50% { transform: scale(0.5); }
		100% { transform: scale(1); }
	}


	/** back2top */

	.back2top {
		width: 20px;
		height: 16px;
		position: fixed;
		bottom: 30px;
		right: 40px;
		z-index: 10;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;

		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.back2top.visible {
		bottom: 50px;
		opacity: 1;
		visibility: visible;
	}

	.back2top .arrow {
		width: 2px;
		height: 16px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -1px;
		background: #ffffff;
	}

	.back2top::before {
		content: '';
		width: 8px;
		height: 8px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -4px;
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;

		-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
	}

	/** share */

	.share {
		width: 30px;
		position: fixed;
		right: 35px;
		bottom: 150px;
		z-index: 10;
		text-align: center;
		list-style: none;
	}

	.share li {
		display: block;
		position: relative;
		margin-bottom: 10px;
	}

	.share li:last-child { margin-bottom: 0; }

	.share li a {
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
	}

	.share li a:hover { color: #24ddaa; }

	/** reveal */

	.reveal {
		opacity: 0;
		position: relative;
		top: 50px;

		-webkit-transition: all 1s ease;
				transition: all 1s ease;
	}

	.reveal.reveal-in {
		opacity: 1;
		top: 0;
	}
